* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(28, 21, 29);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 80vmin;
  height: 80vmin;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 8);
  height: calc(100% / 8);
}

.black {
  background-color: #633214;
}

.white {
  background-color: #dbba8b;
}

@media (max-width: 600px) {
  .board {
    width: 90vmin;
    height: 90vmin;
  }
}

@media (min-width: 1200px) {
  .board {
    width: 60vmin;
    height: 60vmin;
  }
}
