* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #312e2b;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 90vmin;
  height: 90vmin;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 8);
  height: calc(100% / 8);
}
.cell img {
  position: relative;
  width: 80%;
  height: 80%;
  background-color: transparent;
}

.black {
  background-color: #76472a;
}

.white {
  background-color: #dec198;
}

@media (min-width: 1200px) {
  .board {
    width: 60vmin;
    height: 60vmin;
  }
}
